<launch>

	<!-- Execute tank_face_detection node file -->
	<!-- Located at package: tank_camera -->
	<!-- Named as: face_detector (name as you wish; meaningful) -->
	<!-- Node filename: face_detection.py -->
	<node	pkg="tank_camera" 
		name="face_detector" 
		type="face_detection.py" 
		output="screen">
	</node>

</launch>
